*,
*:after,
*:before {
    box-sizing: border-box;
}

//FONT
$principal-font: 'Open Sans',
sans-serif;

//PALETA DE COLORES
$dark-primary-color: #1976D2;
$light-primary-color: #BBDEFB;
$primary-color: #2196F3;
$text-icon: #FFFFFF;
$accent-color: #536DFE;
$primary-text: #212121;
$secondary-text: #757575;
$divider-text: #BDBDBD;

/*BREAK POINTS*/
$minimobile-breakpoint: 320px;
$mobile-breakpoint: 568px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

